body { font: 400 16px 'Lato', arial, helvetica, sans-serif; color: #595959}
.quickedit{display:none}
#breadcrumb li{display:inline-block}
#breadcrumb li:not(:last-child)::after{content:"\203A"; padding:0 8px}
.entry-content blockquote{padding:20px 30px; background:#f3f3f3; margin:0 50px}
.entry-content ol{list-style:number none inside}
.entry-content ul{list-style:disc none inside}
.entry-content pre{background:#f3f3f3; padding:20px 30px}
.entry-content table{width:100%; text-align:left}
.entry-content table th{border-bottom:2px solid #a2a2a2; font-weight:700; padding:5px}
.entry-content table td{padding:5px; border-bottom:1px solid #d5d5d5}
.sr{width:1px;height:1px;overflow:hidden;display:block;position:absolute;left:-10000px}
.navbar li, .page-list li{display:inline-block}
.blog-admin{display:none}
.post-thumbnail{width:250px; height:182px}
.container { width: 1100px; margin: 0 auto; }


#main-container {
    width: 770px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 25px;
}
#sidebar-container {
    float: left;
    width: 300px;
}
.post-thumbnail {
    width: 250px;
    height: 182px;
    float: left;
    margin: 0 20px 0 0;
}
.post-title a {
    font: 700 21px 'Titillium Web', arial, helvetica, sans-serif;
    text-decoration: none;
    color: #000;
}
.post-title {
    margin: 0 0 11px;
}
.post-footer {
    margin: 15px 0 0 0;
}
.post-footer, .post-footer a {
    color: #989898;
    text-decoration: none;
}
#PageList2 .widget-content {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
#PageList2 li {
    display: inline-block;
}
#PageList2 li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #515151;
    padding: 15px;
    display: inline-block;
}
#Label1 li a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    display: block;
    border-bottom: 1px solid #dedede;
    text-transform: uppercase;
}
#Label1 li a::before {
    content: '\203A';
    padding: 0 13px 0 0;
}

#PageList1 {
    background: #EF5933;
}
#PageList1 a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 9px;
}
#Header1 {
    margin: 41px 0;
}

#sidebar h2 {
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
    margin: 40px 0 20px;
}

#Label1 h2 {
    margin-bottom:0;
}
.e-content {
    line-height: 28px;
}

#Label1 li a:hover {
    color: #ff7913;
}

.invisi {
    padding: 10px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    border-color: #dedede;
    position: relative;
}

.invisi:after {
    content: "";
    background: white;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -3px;
    position: absolute;
}

.item-thumbnail.lazy-image {
    float: left;
    margin-right: 10px;
}

h3.item-title {
    font-size: 15px;
    margin: 0;
    line-height: 22px;
}

.PopularPosts a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

input.gsc-input {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 8px 12px;
    border-color: #c1c1c1;
    border-width: 1px;
    border-style: solid;
}

input.gsc-search-button {
    border: none;
    background: none;
    position: relative;
    text-transform: uppercase;
    font-size: 11px;
    bottom: 25px;
    float: right;
    right: 6px;
    cursor: pointer;
    color: dimgrey;
}

#footer-container {
    clear: both;
    border-top: 1px solid #d6d6d6;
    padding: 25px;
}
#footer {
    width: 1100px;
    margin: 0 auto;
}

a#Blog1_blog-pager-older-link {
    text-decoration: none;
    background: #fd680c;
    padding: 8px 12px;
    display: block;
    float: right;
    margin: 17px 0 0;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}
.PopularPosts li.item {
    clear: both;
    padding: 9px 0;
    border-bottom: 1px solid #dedede;
    overflow: hidden;
}