#comment-editor{overflow:hidden;width:100%}
#main-container {
    padding-top: 40px;
}

#breadcrumb a {
    text-decoration: none;
    color: inherit;
}

h2.post-title.p-name.entry-title {
    font-weight: 700;
    margin: 14px 0;
}